@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #f2f2f2;
    justify-content: space-between;
    margin-top: 4px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:link{
    text-decoration: none;
}
a:visited{
	text-decoration: none;
}
.link{ /*.nav-link*/
    position: relative;
    display: inline-block;
}
.navegul{/*nav-menu*/
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 0px;
    margin-bottom:  4px;
    align-items: center;
}
.link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #44d62c;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.25s;
}
.link:hover::before,
.link_active {
    scale: 1;
}
:root {
    --font-style: 'Nunito Sans', sans-serif;
}
.developer{
    align-items: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #00ff00;
    font-size: 14px;
    cursor: pointer;
    background: #222222;

}
span.contact {
    display: block;
    padding: 6px 14px;
}
.developer::before,
.developer::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #44d62c;
}
span::before,
span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #44d62c;
}
.developer:hover::before,
.developer:hover::after {
    width: 100%;
}      
.developer:hover span::before,
.developer:hover span::after {
    height: 100%;
}
.developer::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
.developer span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
.developer::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
.developer span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
.linkdev{
    display: none;
}
.gitrop{
    display: none;
}
/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 22px;
    padding: 0 20px;
    cursor: pointer;

    display: none;
}
.logo-zanahoria{
    width: 27px;
    filter: drop-shadow( 1px 1px 5px #c3c3c3);
    margin-left: 35px;
    margin-top: 3px;
}
.linkmov{
    display: block;
}
.followMovil{
    display: none;
}
@media (max-width: 900px){
    .developer{
        display: none;
    }
    .linkmov{
        display: none;
    }
    .menu{
        background-color:#0e0e10;
        position: fixed;
        top: 50px;
        width: 100%;
        height: calc(100% - 50px);
        overflow-y: auto;
        left: 100%;
        transition: left 1s;
    }
    .navegul{
        flex-direction: column;
        gap: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .navegul li {
        margin: 0px;
    }
    .navegul:hover,
    .nav-toggle_active{
        background: none;
    }
    .linkdev{
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
    }
    .linkdevtext{
        color: #44d62c;
    }
    .nav-toggle{
        display: block;
        padding: 0px;
        margin-right: 10px;
        margin-top: 2px;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
    .sizeimg{
        width: 45px;
        padding: 9px;
    }
    .followMovil{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu_visible{
        left: 0;
    }
    .nav{
        margin: 0px;
        padding: 0px;
    }
    .logo-zanahoria{
        width: 25px;
        filter: drop-shadow( 1px 1px 5px #fffafa90 );
        margin-left: 10px;
        margin-top: 8px;
    }
}