/*Boton Developer*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
/*Efecto maquina de escribir*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
html{
    scroll-behavior: smooth;
}
header, body{
    background-color: rgb(14, 14, 16)/*#050505*/;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:link{
    text-decoration: none;
}
a:visited{
	text-decoration: none;
}
.inicio1{
    padding: 35px;
    margin: 15px;
    width: 85%;
    height: 100%;
}
.pers{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff; /*#9a9a9a;*/
    font-size: 45px;
}
.persdiv{
    display: inline-block;
    background: none;
    margin-top: 0px;
}
.persdow{
    background: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #44d62c;
    font-size: 30px;
}
.persdow1{
    background: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #44d62c ;
    text-align: start;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 25px;
}
.title{
    background: none;
    text-align: center;
    font: 600 2.25rem "Titillium Web",RazerF5,Arial,Helvetica,sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin: 10px;
}
.star{
    background-image: url('./images/pexels-neo-2653362.jpg');
    background-size: cover;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.phrase{
    padding: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
}
.phrasetex{
    color: #9a9a9a;
    font: normal 1rem Roboto;
    text-align: center;
}
.phrasetex1{
    color: #9a9a9a;
    font: normal 1rem Roboto;
    text-align: start;
}
.textdescription{
    box-sizing: border-box;
    width: 340px;
    height: 100px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.phraseAuthor{
    color: #44d62c;
    font: normal 1.125rem/1.5rem Roboto;
    text-align: center;
}
.gifStarDiv{
    display: flex;
    float: inline-end;
    }
.gifStar{
    /*drop-shadow( 0px 0px 2px #ffffff );*/
    filter: drop-shadow( 1px 1px 20px #ffffff70 );
    width: 50vh;
}
/*Seccion Courses false*/
.courses{
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}
.skillimg{
    height: 4.5rem;
    margin: 35px;
}
.skillimg:hover{
    transition: all 0.6s;
    filter: drop-shadow( 1px 1px 17px #fffafa56 );
}
.skilldiv{
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.courseslu{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bordercour{
    margin: 20px;
}
.clickable-card {
    display: block;
    max-width: 400px;
    margin-inline: auto;
    overflow: hidden;
    box-shadow: none;
    background: #0e0e10;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: #9a9a9a;
}
.clickable-card h2,
.clickable-card .read-more {
    transition: color 0.4s ease-in-out;
}
.clickable-card img {
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.clickable-card:hover .read-more,
.clickable-card:focus .read-more,
.clickable-card:hover h2,
.clickable-card:focus h2 {
    color: #44d62c;
}
.clickable-card:hover img,
.clickable-card:focus img {
    transform: scale(1.1);
}
.article-body {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clickable-card h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    transition: color 0.3s ease-out;
}
img {
    max-width: 100%;
}
figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*INtrsutores*/
.intructors{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.instrctorsdiv{
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
img.imgs{
    border-radius: 50%;
    width: 150px;
}
.divcard{
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    }
.card {
    margin: 0px;
    width: 260px;
    height: 400px;
    background: none;
    border-radius: 5%;
    padding: 1rem 1.5rem;
    -webkit-transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
    transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
    transition: box-shadow .3s ease, transform .2s ease;
    transition: box-shadow .3s ease, transform .2s ease, -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
    }
.card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font: normal 1rem Roboto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, opacity .2s ease;
    transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
    }

    /*Image*/
.card-avatar {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    margin-bottom: 1rem;
    }
    /*Card footer*/
.card-social {
    padding: 0px;
    margin: 0px;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, opacity .2s ease;
    transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
    }
.card-social__item {
    padding: 0px 15px 0px 15px;
    list-style: none;
}
    /*Text*/
.card-title {
    color: #44d62c;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    }
.card-subtitle {
    margin: 0px 20px 0px 20px;
    color: #9a9a9a;
    font: normal 14px Roboto;
    text-align: center;
    }
    /*Hover*/
    .card:hover {
        -webkit-box-shadow: 0 8px 30px #23232333;
            box-shadow: 0 8px 30px #23232333;
        }
    .card:hover .card-info {
        -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
            transform: translateY(-5%);
        }
    
    .card:hover .card-social {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
        opacity: 1;
        }
    
    .card-social__item svg:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    
    .card-avatar:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
/*420PX- 480 MOBILE DEVICES*/
@media (max-width:480px) and (min-width: 0px) {
    body{
        margin: 0px 10px 0 10px;
    }
    .inicio1{
        margin: 0px;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
        align-items: center;
    }
    .star{
        align-items: center;
        min-height: 80vh;
        min-height: 100%;
        background: url('./images/neo1.jpg');
        background-size: cover;
    }
    .imgs{
        width:"310px";
        height:"220px";
    }
    .skilldiv{
        padding-bottom: 0px;
    }
    .skill{
        padding: 0px;
    }
    .skillimg{
        height: 4rem;
        margin: 10px;
        padding: 0px;
    }
    .courses{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .intructors{
        padding-top: 10px;
        margin: 0px;
    }
    .card{
        width: 100%;
        padding: 20px 0px 20px 0px;
        height: 380px;
    }
    .card-avatar{
        margin-bottom: 5px;
    }
    .divcard{
        padding: 0px;
    }
    .card-social__item {
        padding: 0px 10px 0px 10px;
        list-style: none;
    }
    .persdiv{
        display: flex;
        justify-content: center;
    }
    .pers{
        font-size: 2rem !important;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .persdow{
        font-size: 1.2rem;
        margin: 0px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    .gifStarDiv{
        display: none;
        margin: 55px 0px 30px 0px;
        display: flex;
        justify-content: center;
    }
    .gifStar{
        padding-top: 15px;
        filter: drop-shadow( 1px 1px 9px #ffffff82 );
        width: 60%;
    }
    .persdow1{
        margin: 0px;
        font-size: 20px;
    }
    .title{
        font: 600 2.25rem "Titillium Web",RazerF5,Arial,Helvetica,sans-serif;
        font-size: 25px;
    }
    .phrasetex1{
        color: #9a9a9a;
        font: normal 14px Roboto;
        text-align: justify;
    }
    .phrasetex{
        font: normal 14px Roboto;
    }
    .phrase{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .phraseAuthor{
        margin-bottom: 0px;
        text-align: center;
    }
    .textdescription{
        box-sizing: border-box;
        width: 310px;
        height: 100px;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
    }
    .bordercour{
            /*top right botton letf */
        margin: 10px 0px 10px 0px;
    }
    .article-body{
        padding: 15px;
    }
    .card-social {
        opacity: 100%;
    }
    .card-subtitle{
        padding: 0px;
        margin: 0px;
    }
}
/*481px -768px iPads, Tablets*/
@media (max-width: 768px) and (min-width: 481px){
    .star{
        justify-content: center;
        background-size: cover;
    }
    .inicio1{
        margin: 0px;
        padding: 19px;
    }
    .pers{
        font-size: 2.45rem !important;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .persdow{
        font-size: 1.3rem;
        margin: 0px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    .persdiv{
        display: flex;
        justify-content: center;
    }
    .gifStarDiv{
        margin: 30px 0px 30px 0px;
        display: flex;
        justify-content: center;
        float: unset;
    }
    .gifStar{
        filter: drop-shadow( 1px 1px 5px #ffffff44 );
        width: 40%;
    }
    .title{
        font: 600 2.25rem "Titillium Web",RazerF5,Arial,Helvetica,sans-serif;
        font-size: 35px;
    }
    .phrasetex{
        font: normal 16px Roboto;
    }
    .phrase{
        padding-bottom: 25px;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .phraseAuthor{
        margin-bottom: 0px;
        padding: 20px;
    }
    .card-social {
        opacity: 100%;
    }
}

@media (max-width: 908px) and (min-width: 769px){
    .inicio1{
        width: 100%;
        padding: 25px;
        margin: 5px;
    }
    .gifStarDiv{
        display: flex;
        float: inline-end;
        }
    .gifStar{
        /*drop-shadow( 0px 0px 2px #ffffff );*/
        filter: drop-shadow( 1px 1px 20px #ffffff70 );
        width: 35vh;
    }
}
@media (max-width: 1018px) and (min-width: 909px){
    .gifStarDiv{
        display: flex;
        float: inline-end;
        }
    .gifStar{
        /*drop-shadow( 0px 0px 2px #ffffff );*/
        filter: drop-shadow( 1px 1px 20px #ffffff70 );
        width: 40vh;
    }
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0e0e10;
    font-size: 13px;
    color: #fff;
    height: 15vh;
}
.padd{
    padding-top: 10px;
}